body {
    background-color: black;
    color: white;
}

canvas {
    border: 1px solid blue;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px
}

.main-wrapper-col {

}
 .custom-form {
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-content: start;
     gap: 10px;
 }

 .hide-form {
     display: none;
 }

 .rectangle-wrapper{
     display: flex;
     flex-direction: row;
 }
 .rectangle-color {
     width: 20px;
     height: 20px;
 }
.rectangle-color-water{
    background-color: #4378fd;
}
.rectangle-color-dirt{
    background-color: #a54f2a;
}
.rectangle-color-pine-tree{
    background-color: #a7ff0d;
}
.rectangle-color-spruce {
    background-color: #0dff86;
}
.rectangle-color-oak {
    background-color: #00572a;
}
.rectangle-color-maple {
    background-color: #f7ff02;
}
.rectangle-color-fire {
    background-color: #fa0000;
}

.wind {
    width: 60px;
    height: 60px;
    position: relative;
}

.wind-N {
    transform: rotate(180deg);
}
.wind-NE {
    transform: rotate(225deg);
}
.wind-NW {
    transform: rotate(135deg);
}
.wind-E {
    transform: rotate(270deg);
}
.wind-W {
    transform: rotate(90deg);
}
.wind-SE {
    transform: rotate(315deg);
}
.wind-S {
    transform: rotate(0deg);
}
.wind-SW {
    transform: rotate(45deg);
}

.wind-arrow {
    position: absolute;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Change the width of the arrow by adjusting this value */
    border-right: 10px solid transparent; /* Change the width of the arrow by adjusting this value */
    border-bottom: 20px solid white;
}
.wind-arrow-bottom {
    position: absolute;
    top: 10px;
    left: 27px;
    width: 6px;
    height: 50px;
    background-color: white;
}
.margin-right {
    margin-right: 20px;
}